In [1]:
#반복문

In [3]:
num1=6
num1+=1
num2=7
num2-=5
num3=8
num3/=2
print(num1, num2, round(num3))
num1=1
num1*=3
num2=2
num2**=3
print(num1,num2)

7 2 4
3 8

In [6]:
# 3항 연산자
x=5
ans = 'Non-negative'if x>=0 else 'Negative'
print(ans)  #문자열(str)

Non-negative

In [8]:
city=' '      # ''은 문자열 거짓, 하지만 공백이 있으면 문자열로 인식해서 출력이 됨, 숫자의 거짓은 0, list의 거짓[], dict: {}, tuple의 거짓:()
if city:     # 조건이 참인 경우만 실행
    print('empty city')

empty city

In [15]:
import datetime
dt = datetime.datetime.now()
print(dt)
print()
age= input("생년월일(19951031)을 입력하시오")
year=int(age[0:4])  #마지막은 미포함
month=int(age[4:6])
day=int(age[6:])

# 빼기연산
# 분산 : 상계방지 (제곱)

year_diff = dt.year-year
month_diff = dt.month-month
day_diff = dt.day-day
if day_diff<0: #일 내림 처리
    month_diff -=1
if month_diff <0: #월 내림 처리
    year_diff-=1
print('당신의 나이는', year_diff+1 )
if year_diff < 18:
    print('당신은 미성년자입니다.')
else:
    print('당신은 미성년자가 아닙니다.')

2019-12-26 11:04:39.040687

생년월일(19951031)을 입력하시오 22001226

당신의 나이는 -180
당신은 미성년자입니다.

In [ ]:
# 데이터입력-> 처리(연산자), 제어문( 판단문, 한가지 규칙을 여러 데이터에 적용: 반복문)

In [ ]:
# for
# for (i=0; i<100;i++) : 인덱스 오버플로우
{    
}: 인덱스 오버플로우
# for in 문

In [ ]:
# for in 문

In [18]:
# 데이터를 이용하는 방법
elements = ["earth", "air", "fire", "water"]
for i in elements:     # i = "earth"        #collections, iterator: rangeerator, generator, enumerate
    print(i, end=' ')  # "\n"

earth air fire water

In [ ]:
#collections, : list, tuple, dict, set
#iterator : range : (i=0; i<100;i++) 와 같은 방법으로 사용(start, end, step)
#generator : 데이터 생성, 메모리를 차지하지 않음
#enumerate : 맵핑을 해줌 0:earth, 1:air, 2:fire

In [19]:
for i in range(5):  # 최종값
    print(i)

0
1
2
3
4

In [20]:
# 파이썬은 오버로딩이 없음 : default 값으로 처리
for i in range(2,5):
    print(i)

2
3
4

In [22]:
for i in range(0,10,2):  #start, end, step
    print(i)

0
2
4
6
8

In [23]:
# 인덱스를 이용하는 방법
for i in range(4): #0,1,2,3
    print(i)
    print(elements[i])

0
earth
1
air
2
fire
3
water

In [26]:
# range는 객체(object)다. 그러기 때문에 for문 뒤에서 사용해야 함.
ra=reversed(range(4))   #리버스는 거꾸로
print(ra)
print(list(ra))    #리스트로 캐스팅

<range_iterator object at 0x0000024D260FB970>
[3, 2, 1, 0]

In [27]:
print(list(range(5,-1,-1)))

[5, 4, 3, 2, 1, 0]

In [29]:
# 증가변수, 누적변수
sum = 0
for x in range(1,11):
    sum= sum+x
    sum+=x
print(sum)

110

In [31]:
#중첩된 for문
for x in range(2,4):
    print()
    for y in range(2,10):
        print(x, '*', y, '=', x*y, end= " ")

2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27

In [43]:
for x in range(2,10):
    print()
    for y in range(2,10):
        print(y, 'X', x, '=', x*y,'\t', end= " ")

2 X 2 = 4 	 3 X 2 = 6 	 4 X 2 = 8 	 5 X 2 = 10 	 6 X 2 = 12 	 7 X 2 = 14 	 8 X 2 = 16 	 9 X 2 = 18
2 X 3 = 6 	 3 X 3 = 9 	 4 X 3 = 12 	 5 X 3 = 15 	 6 X 3 = 18 	 7 X 3 = 21 	 8 X 3 = 24 	 9 X 3 = 27
2 X 4 = 8 	 3 X 4 = 12 	 4 X 4 = 16 	 5 X 4 = 20 	 6 X 4 = 24 	 7 X 4 = 28 	 8 X 4 = 32 	 9 X 4 = 36
2 X 5 = 10 	 3 X 5 = 15 	 4 X 5 = 20 	 5 X 5 = 25 	 6 X 5 = 30 	 7 X 5 = 35 	 8 X 5 = 40 	 9 X 5 = 45
2 X 6 = 12 	 3 X 6 = 18 	 4 X 6 = 24 	 5 X 6 = 30 	 6 X 6 = 36 	 7 X 6 = 42 	 8 X 6 = 48 	 9 X 6 = 54
2 X 7 = 14 	 3 X 7 = 21 	 4 X 7 = 28 	 5 X 7 = 35 	 6 X 7 = 42 	 7 X 7 = 49 	 8 X 7 = 56 	 9 X 7 = 63
2 X 8 = 16 	 3 X 8 = 24 	 4 X 8 = 32 	 5 X 8 = 40 	 6 X 8 = 48 	 7 X 8 = 56 	 8 X 8 = 64 	 9 X 8 = 72
2 X 9 = 18 	 3 X 9 = 27 	 4 X 9 = 36 	 5 X 9 = 45 	 6 X 9 = 54 	 7 X 9 = 63 	 8 X 9 = 72 	 9 X 9 = 81